<h1>Flight Index Page</h1>

<% @flights.each do |flight| %>
  <div class="flight-<%=flight.id%>">
    <%= flight.number %> <%= flight.airline.name %>
    <% flight.passengers.each do |passenger| %>
      <%= passenger.name %> <%= link_to "Remove This Passenger", '/passenger_flights', passenger_id: passenger.id, flight_id: flight.id, method: :delete %><br>
    <% end %>
  </div>
<% end %>
