<p><h1>All Flights</h1></p>

<% @flights.each do |flight| %>
<p> <div id=<%= "#{flight.id}" %>> Flight: <%= flight.number %>|| <%= flight.airline.name %></p>
<p>Passengers</p><hr>
<% flight.passengers.each do |passenger| %>
<p> <%= passenger.name %> <%= button_to  %></p>
<% end %>
<hr>
<% end %>
</div>
