<% @flights.each do |flight| %>
<div id="flight-<%=  flight.id %>">
  <%= flight.number %> <%= flight.airline.name %>
  <%= flight.passengers.each do |passenger| %>
    <%= passenger.name %>
    <% end %>
  <% end %>
</div>
