<h1>Flights Index Page</h1>

<% @flights.each do |flight| %>
  <div id="flight-<%= flight.id %>">
    <p><strong>Flight Number:</strong> <%= flight.number %> <strong>Airline:</strong> <%= flight.airline.name %></p>
    <p><strong>Passenger Manifest:</strong></p>
    <% flight.passengers.each do |passenger| %>
    <p><%= passenger.name %> <%= link_to "Remove Passenger ##{passenger.id}", "/flights/#{flight.id}/passengers/#{passenger.id}", method: :delete %></p>
    <% end %>
  </div>
  <br>
<% end %>
