<h3>All Flights</h3>

<% @flights.each do |flight| %>
<div id="flight-<%=flight.id%>">
  <p><%= flight.number %></p>
  <p><%= flight.airline.name %></p>
  <% flight.passengers.each do |ilda| %>
    <%= ilda.name %>
    <%= link_to "Remove #{ilda.name}", flight_passenger_path(flight.id, ilda.id), method: :delete %>
  <% end %>
</div>
<% end %>