<h3> All Flights </h3>

<% @flights.each do |flight| %>
  <div id="flight-<%=flight.id%>">
    <p><b>Flight Number:</b> <%= flight.number %></p>
    <p><b>Airline:</b> <%= flight.airline_name %></p>
    <p><b>Passengers:</b></p>
    <ul> <% flight.passengers.each do |passenger| %>
      <div id="passenger-<%=passenger.id%>">
        <li> <b> <%= passenger.name %> </b>
        <%= link_to "Remove Passenger", flight_passenger_path(id: flight.id, passenger_id: passenger.id), method: :delete %></li>
      </div>
    <% end %> </ul>
  </div>
  <hr>
<% end %>
